global:
  scrape_interval: 5s
  external_labels:
    monitor: "monitor"

scrape_configs:
  - job_name: "nats-scraper"
    scrape_interval: 5s
    static_configs:
      - targets: ["prometheus-nats-exporter:7777"]
  - job_name: "nginx-scraper"
    scrape_interval: 5s
    static_configs:
      - targets: ["prometheus-nginx-exporter:9113"]
  - job_name: "redis-scraper"
    scrape_interval: 5s
    static_configs:
      - targets: ["prometheus-redis-exporter:9121"]
