global:
  scrape_interval: 5s
  external_labels:
    monitor: "monitor"

scrape_configs:
  - job_name: "monitor"
    scrape_interval: 5s
    static_configs:
      - targets: ["prometheus-nats-exporter:7777"]
