services:
  postgres:
    image: postgres:latest
    container_name: db
    environment:
      POSTGRES_USER: daffaputra
      POSTGRES_PASSWORD: password
      POSTGRES_DB: dropboks
    restart: unless-stopped
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
