services:
  grafana:
    container_name: grafana
    build:
      context: ../grafana
      dockerfile: Dockerfile
      args:
        GRAFANA_VERSION: ${GRAFANA_VERSION}
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana-data:/var/lib/grafana
    depends_on:
      - prometheus

volumes:
  grafana-data: