services:
  prometheus:
    build:
      context: ../prometheus
    container_name: prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    depends_on:
      - prometheus-nats-exporter