services:
  minio:
    image: minio/minio:latest
    container_name: miniio
    environment:
      MINIO_ROOT_USER: ROOTUSER
      MINIO_ROOT_PASSWORD: CHANGEME123
    volumes:
      - minio-data:/data
    command: server /data --address ":80" --console-address ":9001"

volumes:
  minio-data:
