services:
  nats:
    container_name: nats
    build:
      context: ../nats
      args:
        NATS_VERSION: ${NATS_VERSION}
    restart: unless-stopped
    volumes:
      - nats-data:/nats:rw
      - jetstream-data:/jetstream/data:rw
    environment:
      - NATS_USER=nats-user
      - NATS_PASSWORD=password
    command: "-c /etc/nats/nats.conf --name nats -p 4222 -m 8222 "
    ports:
      - "8080:8080"

volumes:
  jetstream-data:
  nats-data:
