services:
  prometheus:
    build:
      context: ../prometheus
      args:
        PROMETHEUS_VERSION: ${PROMETHEUS_VERSION}
    container_name: prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    depends_on:
      - prometheus-nats-exporter