services:
  nats:
    container_name: nats
    image: nats:latest
    restart: unless-stopped
    volumes:
      - ../nats/nats-server.conf:/etc/nats/nats.conf
      - nats-data:/nats:rw
      - jetstream-data:/jetstream/data:rw
    environment:
      - NATS_USER=nats-user
      - NATS_PASSWORD=password
    command: "-c /etc/nats/nats.conf"

volumes:
  jetstream-data:
  nats-data:
